<?xml version="1.0" encoding="UTF-8"?>
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    {{if .disableSessionPersist}}
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <Manager pathname="" />
    {{end}}
</Context>